/*texto*/
/*index*/
body{
    display: flex;
    flex-direction: column;
    background-color: #e4e1e1;
}
h1{
    text-align: center;
    color: rgb(3, 3, 3);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
h2{
    text-align: center;
    color: rgb(3, 3, 3);
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1em;
}
h3{
    text-align: left;
    margin-inline-start: 1em;
    margin-inline-end: 1em;
}
legend{
    text-align: center;
}
#s1{
    text-decoration: underline;
    font-weight: bold;
}
#s2{
    text-decoration: underline;
    font-style: oblique;
}
#s3{
    text-decoration: underline;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.parrafoEimagen{
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 60%;
}
#s6{
    font-weight: bold;
}
.seccion-uno, .seccion-tres{
    padding-top: 1em;
    padding-bottom: 1em;
    display: flex;
}
.seccion-dos, .seccion-cuatro{
    padding-top: 1em;
    padding-bottom: 1em;
    display: flex;
}
#DivBotonIndex{
    width: 40%;
}

#opciones{
    display: flex;
    flex-direction: column;
    padding: 1em;
}
#descripcion{
    text-align: justify;
    /* width: 50%; */
    margin: 0.5em;
    height: 60%;
    font-size: 1.2em;
}
/*botones*/
.volver{
    text-align: center;
    color: #0099CC;
    background: transparent;
    border: 2px solid #0099CC;
    border-radius: 6px;
    border: none;
      color: white;
      padding: 16px 32px;
      text-align: center;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      -webkit-transition-duration: 0.4s;
      transition-duration: 0.4s;
      cursor: pointer;
      text-decoration: none;
      text-transform: uppercase;
}
.volver:hover {
    background-color: #008CBA;
    color: white;
}
#l1{
    width: 50%;
    margin-left: 20%;
    margin-bottom: 5%;
    color: #0099CC;
    background: transparent;
    border: 2px solid #0099CC;
    border-radius: 6px;
    border: none;
    color: black;
    padding: 16px 32px;
    font-size: 16px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
}
#l1:hover{
    background-color: #ff0000;
    color: rgb(255, 251, 0);
}
#l2{
    width: 50%;
    margin-left: 20%;
    margin-bottom: 5%;
    color: #0099CC;
    background: transparent;
    border: 2px solid #0099CC;
    border-radius: 6px;
    border: none;
      color: black;
      padding: 16px 32px;
      font-size: 16px;
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
      cursor: pointer;
      text-decoration: none;
      text-transform: uppercase;
}
#l2:hover{
    background-color: #fbff13;
    color: rgb(25, 0, 255);
}
#l3{
    width: 50%;
    margin-left: 20%;
    margin-bottom: 5%;
    color: #0099CC;
    background: transparent;
    border: 2px solid #0099CC;
    border-radius: 6px;
    border: none;
      color: black;
      padding: 16px 32px;
      font-size: 16px;
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
      cursor: pointer;
      text-decoration: none;
      text-transform: uppercase;
}
#l3:hover{
    background-color: #16ff16;
    color: rgb(255, 0, 234);
}
#l4{
    width: 50%;
    margin-left: 20%;
    margin-bottom: 5%;
    color: #0099CC;
    background: transparent;
    border: 2px solid #0099CC;
    border-radius: 6px;
    border: none;
      color: black;
      padding: 16px 32px;
      font-size: 16px;
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
      cursor: pointer;
      text-decoration: none;
      text-transform: uppercase;
}
#l4:hover{
    background-color: #15dcff;
    color: rgb(255, 8, 0);
}
/*secciones*/
header{
    background-color: lightgoldenrodyellow;
    border-radius: 10px;
    margin-bottom: 1em;
}
main{
    background-color: #c4dbbd;
    border-radius: 10px;
}
#m1{
    background-color: rgb(237, 155, 100);
    border-radius: 10px;
}
#m2{
    background-color: rgb(225, 243, 67);
    border-radius: 10px;
}
#m3{
    background-color: rgb(116, 228, 51);
    border-radius: 10px;
}
#m4{
    background-color: rgb(197, 47, 235);
    border-radius: 10px;
}
/*footer*/
footer{
    display: flex;
    flex-direction: row;
    margin-top: 1em;
    border-bottom: 10px;
    background-color: rgb(188 183 191);
    border-radius: 0.2em;
    text-align: center;
}
/*lista footer*/
#contact1{
    padding-left: 1.6em;
    text-align: left;
    margin-top: 1em;
    list-style-type: disclosure-closed;
    font-size: 0.8em;
    width: 30%;
}
#contact2{
    width: 15%;
}
#list{
    margin: 0.1em;
}
#s4{
    font-weight: bold;
}
#derechosReservados{
    width: 50%;
    margin: 0.5em;
}
#dr{
    font-size: 0.7em;
    text-align: justify;
}
/*imagenes y videos*/
img{
    display:block;
    margin-left: auto;
    margin-right: auto;
}
iframe{
    display:block;
    margin-left: auto;
    margin-right: auto;
}