/*texto*/
/*index*/
body{
    display: flex;
    flex-direction: column;
    background-color: #e4e1e1;
}
/*textos*/
h1{
    text-align: center;
    color: rgb(3, 3, 3);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
h2{
    text-align: center;
    color: rgb(3, 3, 3);
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1em;
}
h3{
    text-align: left;
    margin-inline-start: 1em;
    margin-inline-end: 1em;
}
legend{
    text-align: center;
}
#s1{
    text-decoration: underline;
    font-weight: bold;
}
#s2{
    text-decoration: underline;
    font-style: oblique;
}
#s3{
    text-decoration: underline;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.parrafoEimagen{
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 60%;
}
#s6{
    font-weight: bold;
}
.seccion-uno, .seccion-tres{
    padding-top: 1em;
    padding-bottom: 1em;
    display: flex;
}
.seccion-dos, .seccion-cuatro{
    padding-top: 1em;
    padding-bottom: 1em;
    display: flex;
}

#DivBotonIndex{
    width: 40%;
}

#opciones{
    display: flex;
    flex-direction: column;
    padding: 1em;
}
#descripcion{
    text-align: justify;
    /* width: 50%; */
    margin: 0.5em;
    height: 60%;
    font-size: 1.2em;
}

/*nuevo-cliente*/
#m1{
    background-color: rgb(237, 155, 100);
    border-radius: 10px;
}
#datoscliente{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
/*.forma{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}*/
#serviciosCheck{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.checks{
    margin: 1rem;
}

form{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
#botones{
    display: flex;
    flex-direction: row;
    margin: 1rem;
    justify-content: space-around;
}
.back{
    width: 20%;
    margin-right: 2rem;
    background: transparent;
    border-radius: 6px;
    color: white;
    padding: 1rem;
    text-align: center;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    grid-area: volver;
}
.done{
    width: 20%;
    margin-left: 2rem;
    background: transparent;
    border-radius: 6px;
    color: white;
    padding: 1rem;
    text-align: center;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    grid-area: volver;
}
.back:hover {
    background-color: #008CBA;
    color: white;
}
.done:hover {
    background-color: #1fba00;
    color: white;
}
#proyecto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#labeldetalle{
    margin-bottom: 0.5rem;
}
#sobreproyecto{
    display: flex;
    flex-direction: column;
}
#det{
    height: 3rem;
    
}


/*servicios(grid)*/
#m2{
    width: fit-content;
    background-color: rgb(239 236 192);
    border-radius: 10px;
    display: grid;
    gap: 0.5rem;
    padding: 2rem;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(4, 12fr) 4rem;
    grid-template-areas:
        "sr1 img1"
        "img2 sr2"
        "sr3 img3"
        "img4 sr4"
        "volver volver";
    align-content: space-around;
    align-items: center;
    justify-content: start;
}
.sr1{
    margin: 1rem;
    grid-area: sr1;
}
.sr2{
    margin: 1rem;
    grid-area: sr2;
}
.sr3{
    margin: 1rem;
    grid-area: sr3;
}
.sr4{
    margin: 1rem;
    grid-area: sr4;
}
.imgservicio1{
    margin: 1rem;
    grid-area: img1;
}
.imgservicio2{
    margin: 1rem;
    grid-area: img2;
}
.imgservicio3{
    margin: 1rem;
    grid-area: img3;
}
.imgservicio4{
    margin: 1rem;
    grid-area: img4;
}
/*botones*/
.volver{
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 0.5rem;
    background: transparent;
    border-radius: 6px;
    border: none;
    color: rgb(0, 0, 0);
    padding: 1rem;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    grid-area: volver;
}
.volver:hover {
    background-color: #fcdd53;
    color: rgb(0, 0, 0);
}
#l1{
    width: 50%;
    margin-left: 20%;
    margin-bottom: 5%;
    color: #0099CC;
    background: transparent;
    border: 2px solid #0099CC;
    border-radius: 6px;
    border: none;
    color: black;
    padding: 16px 32px;
    font-size: 16px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
}
#l1:hover{
    background-color: #fc6363;
    color: rgb(0, 0, 0);
}
#l2{
    width: 50%;
    margin-left: 20%;
    margin-bottom: 5%;
    color: #0099CC;
    background: transparent;
    border: 2px solid #0099CC;
    border-radius: 6px;
    border: none;
      color: black;
      padding: 16px 32px;
      font-size: 16px;
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
      cursor: pointer;
      text-decoration: none;
      text-transform: uppercase;
}
#l2:hover{
    background-color: #fbff13;
    color: rgb(0, 0, 0);
}
#l3{
    width: 50%;
    margin-left: 20%;
    margin-bottom: 5%;
    color: #0099CC;
    background: transparent;
    border: 2px solid #0099CC;
    border-radius: 6px;
    border: none;
      color: black;
      padding: 16px 32px;
      font-size: 16px;
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
      cursor: pointer;
      text-decoration: none;
      text-transform: uppercase;
}
#l3:hover{
    background-color: #16ff16;
    color: rgb(0, 0, 0);
}
#l4{
    width: 50%;
    margin-left: 20%;
    margin-bottom: 5%;
    color: #0099CC;
    background: transparent;
    border: 2px solid #0099CC;
    border-radius: 6px;
    border: none;
      color: black;
      padding: 16px 32px;
      font-size: 16px;
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
      cursor: pointer;
      text-decoration: none;
      text-transform: uppercase;
}
#l4:hover{
    background-color: #15dcff;
    color: rgb(0, 0, 0);
}



/*secciones*/

/*Headers*/
header{
    padding: 1rem;
    background-color: rgb(40, 40, 40);
    border-radius: 10px;
    margin-bottom: 1em;
}
.Htrabajos{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem;
    justify-content: space-around;
}
    /*texto header*/
#headerIndex{
    display: flex;
    flex-direction: column;
}
#devices{
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    color: white;
}
.device{
    margin: 0.5rem;
}
.txHeader{
    margin: 0.5rem;
    color: whitesmoke;
    text-align: justify;
}
.txHeader spam{
    font-size: large;
    font-weight: bold;
}
#divHeaderTrabajo1{
    width: 60%;
}
#divHeaderTrabajo2{
    width: 40%;
}


main{
    background-color: #c4dbbd;
    border-radius: 10px;
}




/*trabajos*/
#m4{
    background-color: rgb(233, 144, 255);
    border-radius: 10px;
    display: grid;
    gap: 0.2rem;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, auto) 1.7fr;
    grid-template-areas:
    "m4a m4b"
    "m4c m4d" 
    "volver volver"
    ;
}
.m4{
    margin: 1rem;
    text-align: justify;
}
.m4 a{
    grid-area: m4a;
    margin: 0.5rem;
}
.m4 b{
    grid-area: m4b;
}
.m4 c{
    grid-area: m4c;
}
.m4 d{
    grid-area: m4d;
    margin: 0.5rem;
}
#m4h2a{
    text-align: right;
}
#m4h2b{
    text-align: left;
}

/*sobre nosotros*/

#m3{
    background-color: rgb(116, 228, 51);
    border-radius: 10px;
    display: grid;
    gap: 0.2rem;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(3,30%) 10%;
    grid-template-areas: 
    "sn1 snimg1"
    "snimg3 sn3"
    "sn2 snimg2"
    "volver volver";
    padding: 1.5rem;
}
.snimg{
    padding: 3rem;
}
.sn{
    padding: 0.5rem;
}
.sn-uno{
    grid-area: sn1;
    text-align: end;
}
.snimg-uno{
    grid-area: snimg1;
}
.sn-dos{
    grid-area: sn2;
}
.snimg-dos{
    grid-area: snimg2;
}
.sn-tres{
    grid-area: sn3;
}
.snimg-tres{
    grid-area: snimg3;
}
.SN{
    margin-top: 1rem;
    height: 3.5rem;
    margin-bottom: 0rem;
}


/*footer*/
footer{
    width: fit-content;
    display: flex;
    flex-direction: row;
    margin-top: 1em;
    border-bottom: 10px;
    background-color: rgb(188 183 191);
    border-radius: 0.2em;
    text-align: center;
}
    /*lista footer*/
#contact1{
    padding-left: 1.6em;
    text-align: left;
    margin-top: 1em;
    list-style-type: disclosure-closed;
    font-size: 0.8em;
    width: 30%;
}
#contact2{
    width: 15%;
}
#list{
    margin: 0.1em;
}
#s4{
    font-weight: bold;
}
#derechosReservados{
    width: 50%;
    margin: 0.5em;
}
#dr{
    font-size: 0.7em;
    text-align: justify;
}

/*imagenes y videos*/
img{
    border-radius: 1rem;
    display:block;
    margin-left: auto;
    margin-right: auto;
}
iframe{
    display:block;
    margin-left: auto;
    margin-right: auto;
}

/*adaptacion tablet y monitores pequeños*/
@media screen and (max-width:600px){
    /*ajuste index*/
    #ind{
        background-color: rgb(0, 0, 0);   
    }
    #m0{
    background-color: #7be75b;
    }
    .dos,.tres,.cuatro,.cinco{
        display: none;
    }
    .seccion-uno, .seccion-tres{
        padding-top: 1em;
        padding-bottom: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .seccion-dos, .seccion-cuatro{
        padding-top: 1em;
        padding-bottom: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    /*footer*/
    footer{
        width: fit-content;
        display: flex;
        flex-direction: column;
        margin-top: 1em;
        border-bottom: 10px;
        background-color: rgb(188 183 191);
        border-radius: 0.2em;
        text-align: center;
        align-items: center;
    }
    /*nuestros trabajos*/
    #m4{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        background-color: rgb(233, 144, 255);
        border-radius: 10px;
        }
        .Htrabajos {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0.5rem;
            justify-content: center;
            flex-wrap: nowrap;
            align-content: center;
        }
    /*servicos*/
    #m2{
        display: flex;
        flex-direction: column;
        width: fit-content;
        background-color: rgb(239 236 192);
        border-radius: 10px;
        gap: 0.5rem;
        padding: 2rem;
    }    
}
/*Ipads y tablets*/
@media screen and (min-width:601px) and (max-width:800px){
    /*index*/
    #ind{
        background-color: rgb(58, 58, 58);
    }
    #m0{
        background-color: #5bc6e7;
        }
    .uno,.tres,.cuatro,.cinco{
        display: none;
    }
    .seccion-uno, .seccion-tres{
        padding-top: 1em;
        padding-bottom: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .seccion-dos, .seccion-cuatro{
        padding-top: 1em;
        padding-bottom: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    /*footer*/
    footer{
        width: fit-content;
        display: flex;
        flex-direction: column;
        margin-top: 1em;
        border-bottom: 10px;
        background-color: rgb(188 183 191);
        border-radius: 0.2em;
        text-align: center;
        align-items: center;
    }
    /*trabajos*/
    #m4{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        background-color: rgb(233, 144, 255);
        border-radius: 10px;
        }
    .Htrabajos {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.5rem;
        justify-content: center;
        flex-wrap: nowrap;
        align-content: center;
        }
    /*servicos*/
    #m2{
        display: flex;
        flex-direction: column;
        width: fit-content;
        background-color: rgb(239 236 192);
        border-radius: 10px;
        gap: 0.5rem;
        padding: 2rem;
    }
    #m3{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        background-color: rgb(116, 228, 51);
        border-radius: 10px;
    }    
}
/*small screens y laptops*/
@media screen and (min-width:801px) and (max-width:1024px){
    /*index*/
    #ind{
        background-color: rgb(117, 117, 117);   
    }
    #m0{
        display: flex;
        flex-direction: column;
        background-color: #e7d95b;
    }
    .seccion-uno, .seccion-tres{
        padding-top: 1em;
        padding-bottom: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .seccion-dos, .seccion-cuatro{
        padding-top: 1em;
        padding-bottom: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .uno,.dos,.cuatro,.cinco{
        display: none;
    }
    /*trabajos*/
    #m4{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        background-color: rgb(233, 144, 255);
        border-radius: 10px;
        }
    .Htrabajos {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.5rem;
        justify-content: center;
        flex-wrap: nowrap;
        align-content: center;
    }
    /*servicos*/
    #m2{
        display: flex;
        flex-direction: column;
        width: fit-content;
        background-color: rgb(239 236 192);
        border-radius: 10px;
        gap: 0.5rem;
        padding: 2rem;
    }
}
/*desktops*/
@media screen and (min-width:1025px) and (max-width:1200px){
    /*index*/
    #ind{
        background-color: rgb(192, 192, 192);
    }
    .uno,.dos,.tres,.cinco{
        display: none;
    }
    #m0{
        background-color: #3f80d4;
        }
    /*trabajos*/
    #m4{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        background-color: rgb(233, 144, 255);
        border-radius: 10px;
        }
    .Htrabajos {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.5rem;
        justify-content: center;
        flex-wrap: nowrap;
        align-content: center;
    }
}
/*large displays y tv*/
@media screen and (min-width:1201px){
    /*index*/
    #ind{
        background-color: rgb(255, 255, 255);
    }
    #m0{
        background-color: #e69999;
        }
    .uno,.dos,.tres,.cuatro{
        display: none;
    }
}